ul
	each val in [1, 2, 3, 4, 5]
		li= val

ul
	each val, index in Array(9)
		li= index

ul
	each val, index in ['zero', 'one', 'two']
		li= index + ': ' + val

ul
	each val, key in {1: 'one', 2: 'two', 3: 'three'}
		li= key + ': ' + val

- var values = [];
ul
	each val in values.length ? values : ['There are no values']
		li= val

- var values = [];
ul
	each val in values
		li= val
	else
		li There are no values
